.chats-container{
    width:320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px;
    height:100vh;
}

.chat-list-title{
    font-size: 20px;
    font-weight: 700;
}

.archived-section{
    cursor: pointer;
    margin:12px 0px;
}

.archived-icon{
    width: 20px;
    height: 20px;
    color: #676667;
}

.archived-title{
    color: #5B96F7;
    font-size: 14px;
    margin-left: 12px;
    font-weight: 700;
}

.chat-list-subtitle {
    color: #676667; 
    font-size: 14px;
    font-weight: 700;
    line-height: 21.86px;
    margin: 12px 0px;
}

.search-container{
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: none;
    margin: 12px 0px;
}

.chat-room-container{
    border-radius: 15px;
    padding:16px;
    margin:8px 15px 8px 0px;
}

.chat-room-container:hover{
    cursor: pointer;
}

.room-title{
    font-size: 16px;
    font-weight:800;
    line-height: 25px;
}

.room-sub-title{
    font-size: 14px;
    font-weight:600;
    line-height: 19.12px;
    color:#7C7C7D;
}

.room-date{
    font-size: 12px;
    font-weight:500;
    line-height: 25px;
    color:#686768;
}

.unread-msg{
    font-size: 10px;
    font-weight:700;
    line-height: 19.12px;
    color:white;
    background-color: #5B96F7;
    width:16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


