.chats-container{
    width:320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px;
    height:100vh;
}

.chat-list-title{
    font-size: 20px;
    font-weight: 700;
}

.circle-icon{
    width: 24px;
    height: 24px;
}

.archived-section{
    cursor: pointer;
    margin:12px 0px;
}

.archived-icon{
    width: 22px;
    height: 24px;
    color: #676667;
}

.archived-title{
    color: #5B96F7;
    font-size: 14px;
    margin-left: 12px;
    font-weight: 700;
}

.chat-list-subtitle {
    color: #676667; 
    font-size: 14px;
    font-weight: 700;
    line-height: 21.86px;
    margin: 12px 0px;
}
