.nav-icon-box{
    width:48px;
    height:48px; 
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.nav-icon-box:hover{
    cursor: pointer;
}

.nav-icon-box.active{
    background-color: #5B96F7;
    color:white;
}

.nav-icon{
    width: 24px;
    height:24px;
}

